<!DOCTYPE html>
<!--[if gt IE 8]-->
<html class="ie-9">
<!--[endif]-->
<!--[if !IE]>-->
<html>
<!--<![endif]-->
<meta data-config="{&quot;money_with_currency_format&quot;:{&quot;delimiter&quot;:&quot;&quot;,&quot;separator&quot;:&quot;.&quot;,&quot;format&quot;:&quot;%n&amp;nbsp;%u&quot;,&quot;unit&quot;:&quot;\u0440\u0443\u0431&quot;,&quot;show_price_without_cents&quot;:0},&quot;currency_code&quot;:&quot;RUR&quot;,&quot;new_ya_metrika&quot;:null,&quot;ecommerce_data_container&quot;:&quot;dataLayer&quot;,&quot;common_js_version&quot;:null,&quot;account_id&quot;:350416,&quot;hide_items_out_of_stock&quot;:false,&quot;enable_comparison&quot;:true,&quot;locale&quot;:&quot;ru&quot;,&quot;client_group&quot;:null}" name="shop-config" />

<head>
    <meta name='js-evnvironment' content='production' />
    <meta name='default-locale' content='ru' />
    <meta name='insales-redefined-api-methods' content="[]" />
    <script src="/served_assets/new_shop_js/shop_bundle-ce306071be6801f7eae474fcd5d36b88.js" type="text/javascript"></script>
    <!--InsalesCounter -->
    <script type="text/javascript">
    if (typeof(__id) == 'undefined') {
        var __id = 350416;

        (function() {
            var ic = document.createElement('script');
            ic.type = 'text/javascript';
            ic.async = true;
            ic.src = '/javascripts/insales_counter.js?5';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ic, s);
        })();
    }
    </script>
    <!-- /InsalesCounter -->
    <title>Mr Photo - товары для фотографов и видеооператоров</title>
    <meta name="robots" content="index,follow" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--[if IE]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]>
  <script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Mr Photo - товары для фотографов и видеооператоров" />
    <meta property="og:image" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.mr-photo.ru" />
    <meta name="keywords" content="Mr Photo - товары для фотографов и видеооператоров">
    <meta name="description" content="Mr Photo - товары для фотографов и видеооператоров">
    <link rel="stylesheet" href="https://static-internal.insales.ru/files/1/1048/2360344/original/animate.css">
    <link rel="alternate" type="application/rss+xml" title="Блог..." href="/blogs/blog.atom" />
    <link href="https://assets3.insales.ru/assets/1/2847/731935/v_1486422311/build/favicon.png" rel="icon">
    <link rel="apple-touch-icon" href="/custom_icon.png" />
    <!-- CDN -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://static-internal.insales.ru/files/1/6383/2357487/original/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Istok+Web:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- <script src="//jsconsole.com/remote.js?FB0C821F-73DA-430F-BD50-9C397FCEAB8D"></script> -->
    <!-- CDN end -->
    <link type="text/css" rel="stylesheet" media="all" href="https://assets3.insales.ru/assets/1/2847/731935/v_1486422311/build/template.css" />
    <script type="text/javascript" src="https://assets3.insales.ru/assets/1/2847/731935/v_1486422311/build/modernizr.js"></script>
</head>

<body class="adaptive">
    <section class="section--content">
        <header>
            <div class="container-fluid header">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4">
                        <a href="http://shop-63925-49.myinsales.ru/"><img src="https://static-internal.insales.ru/files/1/6337/2357441/original/u-364e21d49b51e53c4ac27eec67f55d2a.jpg"></a>
                    </div>
                </div>
            </div>
            <div class="container header-menu">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                                <a href="http://shop-63925-49.myinsales.ru/page/feedback">Контакты</a>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4 market">
                                <a href="http://shop-63925-49.myinsales.ru/collection/frontpage">Магазин</a>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4 cart">
                                <a href="http://shop-63925-49.myinsales.ru/cart_items"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Корзина (<span class="cart_widget-items_count
                       js-cart_widget-items_count"></span>)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="content-container
                wrap row">
            <div class="home-page-products animated fadeIn">
                <div class="container-fluid product-all ">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 product-unit">
                                <div class="image-product">
                                    <p class="price" style="padding:12px 0px; color: #858585; font-family: verdana;     font-size: 12px;">450.0<span>р за шт.</span></p>
                                    <a href="/product/derevyannyy-boks-12h7-sm" class="image-square"><img rel="shadowbox[images];options={counterType:'skip',continuous:true}" src="https://static-eu.insales.ru/images/products/1/7646/100179422/large_2-f96fcf88715f605b3e9ff25e16a6eac7.jpg" /></a>
                                </div>
                                <div class="imformation-about-product">
                                    <p>Деревянный бокс 12х7 см</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 product-unit">
                                <div class="image-product">
                                    <p class="price" style="padding:12px 0px; color: #858585; font-family: verdana;     font-size: 12px;">800.0<span>р за шт.</span></p>
                                    <a href="/product/8gb-usb-fleshka-zoloto-metall" class="image-square"><img rel="shadowbox[images];options={counterType:'skip',continuous:true}" src="https://static-eu.insales.ru/images/products/1/8076/100179852/large_2-3dcfa17bd6f4a1988ba25c0fc9d6cf52.jpg" /></a>
                                </div>
                                <div class="imformation-about-product">
                                    <p>8GB USB флэшка, золото-металл</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 product-unit">
                                <div class="image-product">
                                    <p class="price" style="padding:12px 0px; color: #858585; font-family: verdana;     font-size: 12px;">700.0<span>р за шт.</span></p>
                                    <a href="/product/8gb-usb-zoloto-steklo" class="image-square"><img rel="shadowbox[images];options={counterType:'skip',continuous:true}" src="https://static-eu.insales.ru/images/products/1/2135/100182103/large_2-a2e742501ed9083d329486c24bc50f49.jpg" /></a>
                                </div>
                                <div class="imformation-about-product">
                                    <p>8GB USB , золото-стекло</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 product-unit">
                                <div class="image-product">
                                    <p class="price" style="padding:12px 0px; color: #858585; font-family: verdana;     font-size: 12px;">700.0<span>р за шт.</span></p>
                                    <a href="/product/8gb-usb-derevo-steklo" class="image-square"><img rel="shadowbox[images];options={counterType:'skip',continuous:true}" src="https://static-eu.insales.ru/images/products/1/357/100180325/large_2-48b442097585ce74004441544fdcf0fa.jpg" /></a>
                                </div>
                                <div class="imformation-about-product">
                                    <p>8GB USB , дерево-стекло</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 product-unit">
                                <div class="image-product">
                                    <p class="price" style="padding:12px 0px; color: #858585; font-family: verdana;     font-size: 12px;">700.0<span>р за шт.</span></p>
                                    <a href="/product/8gb-usb-serebro-steklo" class="image-square"><img rel="shadowbox[images];options={counterType:'skip',continuous:true}" src="https://static-eu.insales.ru/images/products/1/182/100180150/large_2-9a9bd75d99c1764c48b50ff68b134f14.jpg" /></a>
                                </div>
                                <div class="imformation-about-product">
                                    <p>8GB USB , серебро-стекло</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 product-unit">
                                <div class="image-product">
                                    <p class="price" style="padding:12px 0px; color: #858585; font-family: verdana;     font-size: 12px;">750.0<span>р за шт.</span></p>
                                    <a href="/product/derevyannyy-boks-17h17sm-s-vashim-tsvetnym-logotipom-light-brown" class="image-square"><img rel="shadowbox[images];options={counterType:'skip',continuous:true}" src="https://static-eu.insales.ru/images/products/1/536/100180504/large_2-78d4b28d638e43eba0809c593115bc2b.jpg" /></a>
                                </div>
                                <div class="imformation-about-product">
                                    <p>Деревянный Бокс 17х17см , с вашим цветным логотипом. "Light Brown"</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 product-unit">
                                <div class="image-product">
                                    <p class="price" style="padding:12px 0px; color: #858585; font-family: verdana;     font-size: 12px;">750.0<span>р за шт.</span></p>
                                    <a href="/product/derevyannyy-boks-17h17sm-s-vashim-tsvetnym-logotipom-silver" class="image-square"><img rel="shadowbox[images];options={counterType:'skip',continuous:true}" src="https://static-eu.insales.ru/images/products/1/646/100180614/large_2-d7808395fc3128b826dddef7430fd4d1.jpg" /></a>
                                </div>
                                <div class="imformation-about-product">
                                    <p>Деревянный Бокс 17х17см , с вашим цветным логотипом. "Silver"</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 product-unit">
                                <div class="image-product">
                                    <p class="price" style="padding:12px 0px; color: #858585; font-family: verdana;     font-size: 12px;">600.0<span>р за шт.</span></p>
                                    <a href="/product/derevyannyy-boks-s-logotipom-our-wedding-17h17sm-dark-brown" class="image-square"><img rel="shadowbox[images];options={counterType:'skip',continuous:true}" src="https://static-eu.insales.ru/images/products/1/775/100180743/large_2-f7cf5fbc498d18273e5789dfbe58e2fb.jpg" /></a>
                                </div>
                                <div class="imformation-about-product">
                                    <p>Деревянный Бокс с логотипом OUR WEDDING 17х17см "Dark Brown"</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 product-unit">
                                <div class="image-product">
                                    <p class="price" style="padding:12px 0px; color: #858585; font-family: verdana;     font-size: 12px;">600.0<span>р за шт.</span></p>
                                    <a href="/product/derevyannyy-boks-s-logotipom-our-wedding-17h17sm-light-brown" class="image-square"><img rel="shadowbox[images];options={counterType:'skip',continuous:true}" src="https://static-eu.insales.ru/images/products/1/879/100180847/large_2-a91535e0a0dfbc0d3674c7350697cf66.jpg" /></a>
                                </div>
                                <div class="imformation-about-product">
                                    <p>Деревянный Бокс с логотипом OUR WEDDING 17х17см "Light Brown"</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container-fluid footer">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4">
                    <p>Mr Photo - товары для вашего бизнеса</p>
                </div>
            </div>
        </div>
        <a href="#top" class="bktop"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
        <script>
        $(document).ready(function() {
            $('a.bktop').click(function(e) {
                $('html, body').animate({
                    scrollTop: 0
                }, '1000');
                e.preventDefault();
            });
            $(window).scroll(function() {
                if ($(this).scrollTop() > 100) {
                    $('.bktop').fadeIn('3000');
                } else {
                    $('.bktop').fadeOut('2000');
                }
            });
        });
        </script>
        <script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>
        <!-- VK Widget -->
        <div id="vk_community_messages"></div>
        <script type="text/javascript">
        VK.Widgets.CommunityMessages("vk_community_messages", 117035626, {});
        </script>
    </footer>
    <div class="panel panel--menu js-panel--menu">
        <div class="panel_block">
            <h3 class="panel_block-title">
      Главное меню
    </h3>
            <div class="panel_block-content">
                <ul class="menu menu--main menu--mobile_panel menu--vertical">
                    <li class="menu-node
              ">
                        <a href="/blogs/blog" class="menu-link
                ">
        Статьи
      </a>
                    </li>
                    <li class="menu-node
              menu-node--current">
                        <a href="/" class="menu-link
                menu-link--current">
        Каталог
      </a>
                    </li>
                    <li class="menu-node
              ">
                        <a href="/page/contacts/" class="menu-link
                ">
        Контакты
      </a>
                    </li>
                    <li class="menu-node
              ">
                        <a href="/page/delivery" class="menu-link
                ">
        Доставка и оплата
      </a>
                    </li>
                    <li class="menu-node
              ">
                        <a href="/collection/hits" class="menu-link
                ">
        хит
      </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel_block">
            <h3 class="panel_block-title">
      Каталог
    </h3>
            <div class="panel_block-content">
                <ul class="menu menu--collection menu--vertical
          menu--mobile_panel">
                    <li class="menu-node menu-node--collection_lvl_1
              
              js-menu-wrapper">
                        <a href="/collection/magazin" class="menu-link
                ">
        Магазин (коллекция)
      </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel_block">
            <h3 class="panel_block-title">
      Полезные ссылки
    </h3>
            <div class="panel_block-content">
                <ul class="menu menu--vertical menu--mobile_panel">
                    <li class="menu-node
                    ">
                        <a href="/blogs/blog" class="menu-link">
              Статьи
            </a>
                    </li>
                    <li class="menu-node
                    ">
                        <a href="/page/delivery" class="menu-link">
              Доставка
            </a>
                    </li>
                    <li class="menu-node
                    ">
                        <a href="/page/feedback" class="menu-link">
              Обратная связь
            </a>
                    </li>
                    <li class="menu-node
                    ">
                        <a href="/collection/hits" class="menu-link">
              Хиты
            </a>
                    </li>
                    <li class="menu-node
                    ">
                        <a href="/page/delivery" class="menu-link">
              Доставка
            </a>
                    </li>
                    <li class="menu-node
                    ">
                        <a href="/page/feedback" class="menu-link">
              Обратная связь
            </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel--collection_filter js-panel--filter">
        <form action="" method="get" id="characteristics" class="filter filter--vertical
               filter--mobile 
              js-filter-sections_wrapper" data-params="submit: false">
            <div class="filter-section
              js-filter_section-wrapper">
                <div id="filter_section-price" class="filter_section-title
                  js-filter_section-toggler">
                    <span>
        Цена
      </span>
                    <span class="button--toggler
                    filter_section-toggler">
          <i class="fa fa-caret-down"></i>
        </span>
                </div>
                <div class="filter_section-values filter_section-values--range
                js-section-range
                js-filter_section-values
                filter_section-values--collapse">
                    <div class="filter_section-value--range
                  js-range" data-params="start: 0; end: 0; min: 0; max: 0"></div>
                    <div class="row">
                        <div class="grid-6 left">
                            от
                            <input class="filter_section-range_input
                        js-range-min_text" />
                        </div>
                        <div class="grid-6 right">
                            до
                            <input class="filter_section-range_input
                        js-range-max_text" />
                        </div>
                    </div>
                    <input type="hidden" name="price_min" value="" class="js-range-min_input" />
                    <input type="hidden" name="price_max" value="" class="js-range-max_input" />
                </div>
            </div>
            <div class="padded-inner-top row">
                <button class="filter-submit filter-button
                    button button--action
                    lg-grid-12">
                    <i></i> Применить
                </button>
                <button class="filter-clear_all filter-button
                  button button--invert
                  lg-grid-12
                  js-filter-clear_all">
                    <i></i> Сбросить фильтр
                </button>
            </div>
            <input type="hidden" name="page_size" value="" disabled="disabled" />
            <input type="hidden" name="order" value="" disabled="disabled" />
            <input type="hidden" name="q" value="" />
        </form>
    </div>
    <script type="text/javascript" src="https://assets3.insales.ru/assets/1/2847/731935/v_1486422311/build/template.js"></script>
    <div class="hidden">
        <script type="text/template" hidden class="cart" id="discounts">
            <% for discount in @discounts : %>
                <div class="discount">
                    <div class="discount-title
                  lg-grid-6 sm-grid-8
                  lg-right md-right">
                        <%- discount.description %>
                    </div>
                    <div class="prices prices--discount
                  lg-grid-4
                  center sm-right">
                        <span class="prices-current">
          <%- @formatMoney discount.amount %>
        </span>
                    </div>
                </div>
                <% end %>
        </script>
        <script type="text/template" hidden id="dropdown" class="cart">
            <div class="basket_list-header">
                <span class="basket_list-title">Корзина</span>
                <% if @order_lines?.length == 0 : %>
                    <div class="notice notice--info">
                        Корзина пуста. Добавьте интересующий товар в корзину и перейдите к оформлению заказа.
                    </div>
                    <% end %>
            </div>
            <% if @order_lines?.length : %>
                <ol class="basket_list-items">
                    <% for order_line in @order_lines : %>
                        <li class="basket_item">
                            <a href="<%- order_line.url %>" class="basket_item-image">
            <img src="<%- order_line.image.small %>" />
          </a>
                            <a href="<%- order_line.url %>" class="basket_item-title">
                                <%- order_line.title %>
                            </a>
                            <div class="basket_item-details right">
                                <span class="basket_item-count">
              <%- order_line.quantity %>
            </span> x
                                <span class="basket_item-price prices">
              <span class="prices-current">
                <%- @formatMoney order_line.sale_price %>
              </span>
                                </span>
                                <a class="basket_item-delete js-cart_item-delete" data-item-id="<%- order_line.variant_id %>">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </li>
                        <% end %>
                </ol>
                <div class="basket_list-footer">
                    Товаров в корзине:
                    <span class="basket_list-count fr">
        <%- @items_count %>
      </span>
                    <div class="basket_list-total prices right">
                        <div class="prices-current">
                            <%- @formatMoney @total_price  %>
                        </div>
                    </div>
                    <a href="/cart_items/" class="basket_list-submit
                button
                lg-grid-12">
        Оформить
      </a>
                </div>
                <% end %>
        </script>
        <script type="text/template" hidden class="modal" id="form">
            <div class="modal modal--popup_form">
                <div class="modal-wrapper">
                    <% if @header : %>
                        <div class="modal-header">
                            <%- @header %>
                        </div>
                        <% end %>
                            <form action="/feedback">
                                <% for field in @fields : %>
                                    <div class="input
                      <% if field.required : %>input--required<% end %>
                      <%- field.class %>">
                                        <% if field.label : %>
                                            <label class="input-label <%- field.label_class %>">
                                                <%- field.label %>
                                            </label>
                                            <% end %>
                                                <% if field.type != 'textarea' : %>
                                                    <input class="input-field <%- field.filed_class %>" type="<%- field.type %>" name="<%- field.name %>" title="<%- field.title %>" placeholder="<%- field.placeholder %>" value="<%- field.value %>">
                                                    <% else : %>
                                                        <textarea class="input-field <%- field.filed_class %>" type="<%- field.type %>" name="<%- field.name %>" title="<%- field.title %>" placeholder="<%- field.placeholder %>">
                                                            <%- field.value %>
                                                        </textarea>
                                                        <% end %>
                                                            <% if field.error : %>
                                                                <span class="input-notice notice notice--warning">
                <%- field.error %>
              </span>
                                                                <% end %>
                                    </div>
                                    <% end %>
                            </form>
                            <button class="button js-modal-close">Закрыть</button>
                            <button class="button js-modal-confirm">Отправить</button>
                </div>
            </div>
        </script>
        <script type="text/template" hidden class="modal" id="product_added">
            <div class="modal modal--product_added">
                <div class="modal-wrapper center">
                    <button class="button button--buy js-modal-close">Закрыть</button>
                    <div class="modal-header">Товар добавлен в корзину</div>
                </div>
            </div>
        </script>
        <script type="text/template" hidden class="modal" id="login">
            <div class="modal modal--login">
                <div class="modal-wrapper">
                    <div class="modal-header">Регистрация</div>
                    <form action="">
                        <input type="text" value="" class="input input--required">
                        <input type="text" value="" class="input input--required">
                        <submit class="js-modal-confirm">Зарегистрироваться</submit>
                        <button class="button button--buy js-modal-close">Закрыть</button>
                    </form>
                </div>
            </div>
        </script>
        <script type="text/template" hidden class="product" id="preview">
            <% if @products?.length > 0 : %>
                <% for product in @products : %>
                    <% if product : %>
                        <div class="product_preview">
                            <% if product.old_price : %>
                                <div class="product_preview-status product_preview-status--sale">
                                    %
                                </div>
                                <% end %>
                                    <div class="product_preview-preview">
                                        <a href="<%- product.url %>" class="product_preview-image image-square" title="<%- product.title %>">
              <img  src="<%- product.first_image.medium_url %>"
                    class=""
                    title="<%- product.title %>"
              />
            </a>
                                    </div>
                                    <div action="/cart_items" data-params="product_id: <%- product.id %>;" class="product_preview-form
                      <% if product.old_price : %>product_preview-form--sale<% end %>
                      row">
                                        <div class="product_preview-prices prices
                        <% if product.old_price : %>product_preview-prices--sale<% end %>
                        lg-grid-12">
                                            <div class="prices-current">
                                                <% if product.price_varies : %>
                                                    от
                                                    <% end %>
                                                        <%- @formatMoney product.price %>
                                            </div>
                                        </div>
                                        <a href="<%- product.url %>" class="product_preview-button button button--buy" title="<%- product.title %>">
              Подробнее
            </a>
                                    </div>
                                    <div class="product_preview-title">
                                        <a href="<%- product.url %>" class="product_preview-link" title="<%- product.title %>">
                                            <%- product.title %>
                                        </a>
                                    </div>
                        </div>
                        <% end %>
                            <% end %>
                                <% end %>
        </script>
        <script type="text/template" hidden class="selectors" id="span">
            <% for variant in @variants : %>
                <span data-option-id="<%- variant.id %>" data-option-position="<%- variant.position %>" data-option-index="<%- @options.index %>" class="variant-span
                variant-span--<%- @options.name %>
                <% if !variant.available : %>
                  variant-span--unavailable
                <% end %>
                <% if variant.position == @options.selected && !@options.is_disabled : %>
                  variant-span--active
                <% end %>">
      <%- variant.title %>
    </span>
                <% end %>
        </script>
        <script type="text/template" hidden class="selectors" id="radio">
            <% for variant in @variants : %>
                <div class="variant-radio
                <% if !variant.available : %>
                  variant-radio--unavailable
                <% end %>">
                    <label class="variant-radio_label">
                        <input type="radio" name="radio-options-<%- @options.index %>" data-option-id="<%- variant.id %>" data-option-position="<%- variant.position %>" data-option-index="<%- @options.index %>" class="variant-radio_switch" <% if !variant.available && @settings.disable : %> disabled="disabled"
                        <% end %>
                            <% if variant.position == @options.selected && !@options.is_disabled : %>
                                checked="checked"
                                <% end %>
                                    />
                                    <%- variant.title %>
                    </label>
                </div>
                <% end %>
        </script>
        <script type="text/template" hidden class="selectors" id="select">
            <select data-option-index="<%- @options.index %>" value="<%- @options.selected %>" class="variant-select
                variant-select--<%- @options.name %>">
                <% for variant in @variants : %>
                    <% if @start_disable.disable : %>
                        <option value="">
                            <%- @start_disable.disable_text %>
                        </option>;
                        <% end %>
                            <option value="<%- variant.position %>" data-option-id="<%- variant.id %>" <% if !variant.available && @settings.disable : %>
                                disabled="disabled"
                                <% end %>
                                    <% if variant.position == @options.selected && !@options.is_disabled : %>
                                        selected="selected"
                                        <% end %>
                                            >
                                            <%- variant.title %>
                            </option>
                            <% end %>
            </select>
        </script>
        <script type="text/template" hidden class="selectors" id="color">
            <% for variant in @variants : %>
                <span data-option-id="<%- variant.id %>" data-option-position="<%- variant.position %>" data-option-index="<% @options.index %>" data-image-id="<%- @getImageId variant.title %>" data-image-original="<%- @getGalleryOriginal variant.title %>" data-image-preview="<%- @getGalleryPreview variant.title %>" class="variant-color
                variant-color--<%- @options.name %>
                <% if !variant.available : %>
                  variant-color--unavailable
                <% end %>
                <% if variant.position == @options.selected && !@options.is_disabled : %>
                  variant-color--active
                <% end %>">
      <img  src="<%- @getColor variant.title %>"
            title="<%- variant.title %>"
            alt="<%- variant.title %>"
            class="variant-color_image"
      />
    </span>
                <% end %>
        </script>
        <script type="text/template" hidden class="selectors" id="image">
            <% for variant in @variants : %>
                <span data-option-id="<%- variant.id %>" data-option-position="<%- variant.position %>" data-option-index="<%- @options.index %>" data-image-id="<%- @getImageId variant.title %>" data-image-original="<%- @getGalleryOriginal variant.title %>" data-image-preview="<%- @getGalleryPreview variant.title %>" class="variant-image
                variant-image--<% @options.name %>
                <% if !variant.available : %>
                  variant-image--unavailable
                <% end %>
                <% if variant.position == @options.selected && !@options.is_disabled : %>
                  variant-image--active
                <% end %>">
      <img  src="<%- @getBlockImage variant.title %>"
            title="<%- variant.title %>"
            alt="<%- variant.title %>"

            class="variant-image_image"
      />
    </span>
                <% end %>
        </script>
        <script type="text/template" hidden class="search" id="ajax">
            <% if @suggestions?.length > 0 : %>
                <ul class="ajax_search-results">
                    <% for product in @suggestions : %>
                        <li class="ajax_search-item">
                            <a href="<%- product.url %>" class="ajax_search-link">
                                <%- product.marked_title %>
                                    <span class="ajax_search-prices">
              <%- @formatMoney product.fields.price_min %>
            </span>
                            </a>
                        </li>
                        <% end %>
                </ul>
                <% end %>
        </script>
    </div>
    <script type="text/javascript">
    InSales.Template('cart');
    InSales.Template('modal');
    InSales.Template('selectors');
    InSales.Template('search');
    InSales.Template('product');

    if (!Site) {
        var
            Site = {};
    };

    cv_currency_format = '{\"delimiter\":\"\",\"separator\":\".\",\"format\":\"%n&nbsp;%u\",\"unit\":\"\\u0440\\u0443\\u0431\",\"show_price_without_cents\":0}';

    // цепляем необходимые переменные из liquid, которые другим образом не перебрасываются в js
    Site.template = 'index';
    Site.locale = 'ru';

    Site.language = {
        locale: 'ru',
        not_default: false,
    };


    Site.account = {
        id: '350416',
        hide_items: 'false',
        email: 'mrphoto_official@mail.ru',
    };

    Site.quick_checkout = {
        enabled: false,
        auto: false,
    };

    Site.product = {
        id: '',
        buy_button: 'buy',
    };

    Site.client_group = {
        id: '',
        title: '',
        discount: '',
        discount_description: '',
    };
    </script>
    <script src="//loginza.ru/js/widget.js" type="text/javascript"></script>
    <script type='text/javascript'>
    if (window.jQuery) {
        jQuery(function($) {
            $('.mailru_login').replaceWith('<a style="text-decoration:none;" href="https://loginza.ru/api/widget?lang=ru&amp;token_url=http%3A%2F%2Fwww.mr-photo.ru%2Fclient_account%2Fside_logins%2Floginza_shop?back_url=' + encodeURIComponent(window.location) + '&amp;provider=mailruapi">               <img title="Mail.ru" alt="Mail.ru" class="mail_ru_login" src="/served_assets/checkout/mailru-connect-button-new.png"/>             </a>');
        });
    }
    </script>
</body>

</html>
